#Education_section{
    padding: 70px 0;
    background-color: var(--primary-color);
  }
  #Education_section h2{
    font-size: 50px;
    text-align: center;
  }
  .flex_container{
    margin-top:50px;
    display: flex;
    gap:40px;
    justify-content: center;
  }
  .card{
    width:33.3%;
    max-width: calc(90%-40px);
    background-image: linear-gradient(to bottom right,#232933,#f0f2f5);
    background-color: var(--secondary-color);
    border-radius: 0 100px;
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap:10px;
    margin:20px;
  }
  .card *{
  text-align: center;
  }
  .icon{
    height:200px;
    width:200px;
  position: relative;
  margin-left: 60px;
  
  }
   @media (max-width :800px){
      

        }