header{
    padding:100px 25px;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .header_text{
    width:100%;
  }
  .circle{
    height:400px;
    width:400px;
    max-width: 80vw;
    max-height: 80vw;
    overflow:hidden;
    border-radius: 50%;
    border:10px solid grey;
    display:flex;
    justify-content: center;
    align-items:flex-end;
  }
  .circle img{
    height:100%;
    width:100%;
  }
  #logo{
    height: 3em;
    width: 3em;
  }
  nav{
    margin:10px 20px;
    display: flex;
    background: black;
   
  }
  nav ul{
  flex: 1;
  text-align: right;
  flex-wrap: wrap;
  }
  nav ul li{
  display: inline-block;
 list-style: none;
 padding:5px;
 margin: 5px;
 text-align: end;
}
  nav ul li a{
    color:var(--secondary-text-color);
    text-decoration: none;
    transition: transform 1s;
  }
  nav ul li a:hover{
    color: blue;
    transform:translateZ(10px);
    
  }
 
 

  .text_box{
    position: relative;
    display:flex;
    align-items: flex-start;
    text-align:left;
    justify-items: left;
    bottom: 8%;
  }
  .text_box h1{
    font-size: 120px;
    line-height: 100px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px azure;
    background: url(./back.png);
    -webkit-background-clip: text;
    background-position: -10px 0;
    animation: back 30s linear infinite;
}
@keyframes back {
    100%{
        background-position: 2000px 0;  
    }
    
}
.sub_menu{
  display: none;
}
nav ul li a:hover .sub_menu{
  display: block;
  position: absolute;
  background-color: black;
  color: azure;
}
@media(max-width: 800px){
  nav{
    position: absolute;
    top:0;
    left:0;
    background:var(--secondary-color);
    padding:15px;
    border-radius: 0 0 25px 0;
  }
    nav ul{
      display: none;
      flex-direction:column;
    }
  }
